.btn {
    padding-left: 2rem;
    padding-right: 2.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none;
    border-radius: 0px;
    font-size: 20px;
  
    svg > span {
      margin-left: 5px;
    }
  
    &.btn-play {
      color: #fff;
      background-color: #e50914;
    }
  
    &.btn-more,
    &.btn-add {
      background-color: #ffffff52;
      svg {
        color: #fff;
      }
    }
  
    & + .btn {
      margin-left: 10px;
    }
  
    &.btn-moyen {
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
    }
  
    &.btn-min {
      line-height: 1;
      padding: 8px;
      border-radius: 50%;
    }
  }